a:link {
  color: #1A1818;
  text-decoration: none;
}
a:visited {
  color: #1A1818;
  text-decoration: none;
}
a:hover {
  color: #2A2828;
  text-decoration: underline;
}
a:active {
  color: #2A2828;
  text-decoration: underline;
}
body {
  margin: 0;
  padding: 2% 4% 2% 8%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1A1818;
  background:
        linear-gradient(315deg, #FFFFFF, transparent 15%) no-repeat,
        linear-gradient(45deg, #AFAFAF, transparent 20%) no-repeat,
        linear-gradient(135deg, #FFFFFF, #DFDFDF 30%) no-repeat;
}
div.page-grid {
  display: grid;
  grid-template-columns: calc(50% - 50px) calc(50% - 50px);
  grid-column-gap: 8%;
  grid-row-gap: 1em;
}
img.ez-clang-heading {
  width: 122%;
  margin-left: -22%;
}
div.cell-previews {
  grid-area: 1 / 2 / span 5 / span 1;
}
div.cell-previews > img {
  width: 100%;
  height: auto;
  margin-bottom: 8%;
}
div.cell-links > a {
  display: flex;
  flex-flow: row;
  justify-content: left;
  margin: 5px 0px;
}
div.cell-subscribe {
  display: flex;
  flex-flow: row nowrap;
  margin: 0.5em 0;
}
div.cell-subscribe > a {
  display: flex;
  flex-shrink: 0;
  flex-flow: row nowrap;
  justify-content: left;
  padding: 0.75em 1.5em;
  border-radius: 2em;
  background: #0089EC;
}
div.cell-subscribe > a:link {
  color: #FFFFFF;
}
div.cell-subscribe > a:visited {
  color: #FFFFFF;
}
div.cell-subscribe > a:hover {
  color: #FFFFFF;
}
div.cell-subscribe > a:active {
  color: #FFFFFF;
}
div.cell-foot {
  display: flex;
  flex-flow: row;
  align-items: center;
  grid-area: 4 / 1 / span 1 / span 2;
}
div.cell-foot > img {
  width: 4em;
  height: 4em;
  margin: 0 0.75em 0 0;
  border-radius: 2em;
}
div.cell-foot > div {
  display: flex;
  flex-flow: column;
  justify-content: left;
}
div.keywords-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
}
div.keywords-container > div {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  margin: 0 0.75em 0.75em 0;
  border-radius: 2em;
  background: #36A15C;
  color: #FFFFFF;
}
img.icon {
  width: auto;
  height: 1.4em;
  margin: 0 0.5em 0 0;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: calc(min(4vw - 10%, 20px));
    padding: 2%;
    background:
    linear-gradient(315deg, #AFAFAF, transparent 25%) no-repeat,
    linear-gradient(225deg, #FFFFFF, transparent 15%) no-repeat,
    linear-gradient(45deg, #F6F6F6, transparent 20%) no-repeat,
    linear-gradient(135deg, #BFBFBF, #DFDFDF 15%) no-repeat;
  }
  div.page-grid {
    grid-template-columns: 100%;
  }
  div.cell-top > div {
    text-align: center;
  }
  div.cell-top > img.ez-clang-heading {
    width: 110%;
    margin-left: -10%;
  }
  div.cell-top > div.summary {
    margin: 2% 0;
  }
  div.cell-top > div.keywords-container {
    justify-content: center;
    margin-top: 4%;
  }
  div.cell-previews {
    grid-area: 2 / 1 / span 1 / span 1;
    margin-left: -2%;
  }
  div.cell-previews > img {
    margin: 1% 0;
  }
  div.cell-foot {
    grid-area: 5 / 1 / span 1 / span 1;
  }
}
