body {
  background: #DFDFDF;
  padding-top: 0;
}
h1 > span {
  background-image: linear-gradient(125deg, #36A15C 50%, #dfdfdf 50%);
  background-size: 30px auto;
  background-position: right 5px;
  background-repeat: no-repeat;
  background-color: #36A15C;
}
/* Safari browsers: any version and any device */
@media only screen and (-webkit-min-device-pixel-ratio:0) {
  h1 > span {
    background-size: 30px 25px;
    background-position-y: 5px;
  }
}

h1 {
  background-image: linear-gradient(22deg,
    rgb(54, 161, 92) 20%,
    rgba(79, 220, 74, 0.60) 30%, rgba(63, 218, 216, 0.55) 40%, rgba(47, 201, 226, 0.5) 50%,
    rgba(28, 127, 238, 0.55) 60%, rgba(95, 21, 242, 0.60) 70%, rgba(186, 12, 248, 0.65) 80%,
    rgba(251, 7, 217, 0.70) 90%,  rgba(255, 0, 0, 0.75) 100%);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-color: transparent;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 24px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

a:link {
  color: #1A1818;
  text-decoration: none;
}
a:visited {
  color: #1A1818;
  text-decoration: none;
}
a:hover {
  color: #2A2828;
  text-decoration: underline;
}
a:active {
  color: #2A2828;
  text-decoration: underline;
}

div.main-grid {
  display: grid;
  grid-template-columns: calc(50% - 50px) calc(50% - 50px);
  grid-column-gap: 8%;
  grid-row-gap: 1em;
  padding: 30px 30px 50px 80px;
  max-width: 1200px;
}
img.ez-clang-heading {
  width: 122%;
  margin-left: -22%;
}
div.cell-previews {
  grid-area: 1 / 2 / span 5 / span 1;
}
div.cell-previews > video {
  cursor: pointer;
  width: 100%;
  height: auto;
}
div.cell-previews > div {
  margin-bottom: 6%;
  text-align: right;
  font-size: 0.75em;
  color: #888888;
}
div.cell-previews a:link {
  color: #888888;
  text-decoration: underline;
}
div.cell-previews a:visited {
  color: #888888;
  text-decoration: underline;
}
div.cell-previews a:hover {
  color: #888888;
}
div.cell-previews a:active {
  color: #888888;
}
div.cell-links > a {
  display: flex;
  flex-flow: row;
  justify-content: left;
  margin: 5px 0px;
}
div.cell-subscribe {
  display: flex;
  flex-flow: row nowrap;
  margin: 0.5em 0;
}
div.cell-subscribe > a {
  display: flex;
  flex-shrink: 0;
  flex-flow: row nowrap;
  justify-content: left;
  padding: 0.75em 1.5em;
  border-radius: 2em;
  background: #0089EC;
}
div.cell-subscribe > a:link {
  color: #FFFFFF;
}
div.cell-subscribe > a:visited {
  color: #FFFFFF;
}
div.cell-subscribe > a:hover {
  color: #FFFFFF;
}
div.cell-subscribe > a:active {
  color: #FFFFFF;
}
div.cell-foot {
  display: flex;
  flex-flow: row;
  align-items: center;
  grid-area: 4 / 1 / span 1 / span 2;
}
div.cell-foot > img {
  width: 4em;
  height: 4em;
  margin: 0 0.75em 0 0;
  border-radius: 2em;
}
div.cell-foot > div {
  display: flex;
  flex-flow: column;
  justify-content: left;
}
div.keywords-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
}
div.keywords-container > div {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  margin: 0 0.75em 0.75em 0;
  border-radius: 2em;
  background-color: #778899;
  color: #FFFFFF;
}
img.icon {
  width: auto;
  height: 1.4em;
  margin: 0 0.5em 0 0;
}
#bar-notify {
  display: none;
  justify-content: center;
  padding: 5px;
  font-style: italic;
  color: #fff;
  background-color: #2c2c2c;
}

div.news-container {
  display: flex;
  flex-flow: wrap;
}
div.news-container a:link {
  color: #0c72a1;
  text-decoration: none;
}
div.news-container a:visited {
  color: #0c72a1;
  text-decoration: none;
}
div.news-container a:hover {
  color: #0c72a1;
  text-decoration: underline;
}
div.news-container a:active {
  color: #0c72a1;
  text-decoration: underline;
}
div.news-item {
  display: flex;
  flex-direction: column;
  margin: 4%;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 0 20px #aaa;
  background-color: #fafafa;
}
div.news-item > video {
  width: 100%;
  height: auto;
  cursor: pointer;
}
div.news-item > iframe {
  max-width: 100%;
}
div.news-item > div.text {
  padding: 1em;
  font-size: 90%;
  line-height: 1.5em;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: calc(min(4vw - 10%, 20px));
  }
  h1 {
    background-image: linear-gradient(22deg,
      rgb(54, 161, 92) 30%, rgba(63, 218, 216, 0.55) 40%, rgba(47, 201, 226, 0.5) 50%,
      rgba(28, 127, 238, 0.55) 60%, rgba(95, 21, 242, 0.60) 70%, rgba(186, 12, 248, 0.65) 80%,
      rgba(251, 7, 217, 0.70) 90%,  rgba(255, 0, 0, 0.75) 100%);
  }
  div.main-grid {
    grid-template-columns: 100%;
    margin-top: 20px;
    padding: 2% 4%;
  }
  div.cell-top > div {
    text-align: center;
  }
  div.cell-top > img.ez-clang-heading {
    width: 110%;
    margin-left: -10%;
  }
  div.cell-top > div.summary {
    margin: 2% 0;
  }
  div.cell-top > div.keywords-container {
    justify-content: center;
    margin-top: 4%;
  }
  div.cell-previews {
    grid-area: 2 / 1 / span 1 / span 1;
    margin-left: -2%;
  }
  div.cell-previews > img {
    margin: 1% 0;
  }
  div.cell-foot {
    grid-area: 5 / 1 / span 1 / span 1;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 650px) {
  h1 {
    background-image: linear-gradient(22deg,
      rgb(54, 161, 92) 40%, rgba(47, 201, 226, 0.5) 50%,
      rgba(28, 127, 238, 0.55) 60%, rgba(95, 21, 242, 0.60) 70%, rgba(186, 12, 248, 0.65) 80%,
      rgba(251, 7, 217, 0.70) 90%,  rgba(255, 0, 0, 0.75) 100%);
  }
  div.news-container {
    padding-top: 4%;
  }
}
@media only screen and (max-width: 400px) {
  h1 {
    background-image: linear-gradient(22deg,
      rgb(54, 161, 92) 50%,
      rgba(28, 127, 238, 0.55) 60%, rgba(95, 21, 242, 0.60) 70%, rgba(186, 12, 248, 0.65) 80%,
      rgba(251, 7, 217, 0.70) 90%,  rgba(255, 0, 0, 0.75) 100%);
  }
}
