div.services div.motto {
  background-image: url('img/wyvern.png');
  background-position: top right;
  background-size: min(50vw, 330px);
  background-repeat: no-repeat;
  max-width: 850px;
}
div.ez-clang img.banner {
  float: right;
  width: min(max(50vw, 150px), 600px);
  padding: 5px 0;
}

div.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: min(30px, 5%) auto;
  padding-bottom: min(30px, 5%);
}
a.news-item {
  display: block;
  padding: 10px min(30px, 5%);
  margin: 0;
}
a.news-item > div.date {
  font-size: 10px;
  color: #888;
  margin-bottom: 2px;
}
a.news-item > div.text {
  margin-bottom: 5px;
  padding: 0;
}
div.news-item-spacer {
  height: 15px;
}
div.badges span {
  font-size: 10px;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 10px;
  color: #fff;
}
div.badges span.contract {
  background: rgb(236, 142, 0);
}
div.badges span.clang {
  background: rgb(229, 111, 211);
}
div.badges span.llvm {
  background: rgb(231, 83, 83);
}
div.badges span.bugfix {
  background: rgb(7, 195, 0);
}
div.badges span.windows {
  background: rgb(28, 127, 238);
}
div.badges span.program-verification {
  background: rgb(0, 189, 186);
}
a.news-item:link {
  text-decoration: none;
  color: #1A1818;
}
a.news-item:visited {
  text-decoration: none;
  color: #1A1818;
}
a.news-item:hover {
  text-decoration: none;
  background: #d8d8d844;
  color: #1A1818;
}
a.news-item:active {
  text-decoration: none;
  background: #d8d8d844;
  color: #1A1818;
}
a.news-item a:hover .link {
  text-decoration: underline;
  color: #0c72a1;
}
a.news-item a:active .link {
  text-decoration: underline;
  color: #0c72a1;
}

div.contact > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.contact > div > div {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
div.contact > div > img {
  width: 6em;
  height: 6em;
  margin: 0 1em 0 0;
  border-radius: 3em;
  margin-left: min(30px, 5%);
}

div.imprint div.content {
  padding-left: min(30px, 5%);
  padding-right: min(30px, 5%);
}
