body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #1A1818;
}
body > * {
  margin: min(30px, 5%);
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  margin-left: 0;
  margin-right: 0;
  padding: 5px 0;
  background: #d6eed4;
}
h1 > span {
  padding: 5px 60px 5px min(30px, 5%);
  background: linear-gradient(125deg, #36A15C 80%, #d6eed4 80%);
  color: #fff;
}

div.top-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
div.top-item div.motto {
  font-family: 'Montserrat', sans-serif;
  font-size: min(72px, 8.5vw);
  font-style: italic;
  margin: 0;
  padding: 0;
  overflow: visible;
}
div.top-item div.motto > span {
  display: inline-block;
  padding: 0 min(3vw, 20px) 0 1vw;
  margin: 0 min(5vw, 30px) 15px -5px;
  box-shadow: 3px -3px #0089ecdd;
  text-align: left;
  background: #ffffffc0;
}
div.top-item div.text {
  line-height: 28px;
}
div.top-item a:link {
  text-decoration: none;
  color: #0089ec;
}
div.top-item a:visited {
  text-decoration: none;
  color: #0089ec;
}
div.top-item a:active {
  text-decoration: underline;
  color: #0089ec;
}
div.top-item a:hover {
  text-decoration: underline;
  color: #0089ec;
}
div.top-item a[target="_blank"]:hover {
  background-image: url('img/more-info.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 10px;
  padding-right: 11px;
}
div.services div.motto {
  background-image: url('img/wyvern.png');
  background-position: top right;
  background-size: min(50vw, 450px);
  background-repeat: no-repeat;
  max-width: 1024px;
}
div.services div.text {
  max-width: 850px;
}
div.ez-clang div.text {
  max-width: 1000px;
}
div.ez-clang img.banner {
  float: right;
  width: min(max(50vw, 150px), 600px);
}

h1.news {
  margin-bottom: 5px;
}
div.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 30px 0;
}
a.news-item {
  display: block;
  padding: 10px min(30px, 5%);
  margin: 0;
}
a.news-item > div.date {
  font-size: 10px;
  color: #888;
  margin-bottom: 2px;
}
a.news-item > div.text {
  margin-bottom: 5px;
}
div.news-item-spacer {
  height: 15px;
}
div.badges span {
  font-size: 10px;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 10px;
  color: #fff;
}
div.badges span.contract {
  background: rgb(236, 142, 0);
}
div.badges span.clang {
  background: rgb(229, 111, 211);
}
div.badges span.llvm {
  background: rgb(231, 83, 83);
}
div.badges span.bugfix {
  background: rgb(7, 195, 0);
}
div.badges span.windows {
  background: rgb(28, 127, 238);
}
div.badges span.program-verification {
  background: rgb(0, 189, 186);
}
a.news-item:link {
  text-decoration: none;
  color: #1A1818;
}
a.news-item:visited {
  text-decoration: none;
  color: #1A1818;
}
a.news-item:hover {
  text-decoration: none;
  background: #f8f8f8;
  color: #1A1818;
}
a.news-item:active {
  text-decoration: none;
  background: #f8f8f8;
  color: #1A1818;
}
a.news-item:hover div.text {
  text-decoration: underline;
  color: #0c72a1;
}
a.news-item:active div.text {
  text-decoration: underline;
  color: #0c72a1;
}
