html, body {
  height: 100%;
  background-color: #eee;
  padding-top: 0;
}

div.page {
  max-width: 1024px;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 0;
  background-color: #fff;
  box-shadow: 0 0 15px #ccc;
}

div.nav {
  padding-top: min(30px, 5%);
}
h1 > span.level1 {
  background-image: linear-gradient(125deg, #36A15C 50%, #b538e2 50%);
}
h1 > span.level2 {
  background-image: linear-gradient(125deg, #b538e2 50%, #d6eed4 50%);
  background-color: #b538e2;
  padding-left: 15px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 24px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

div.head {
  padding: min(60px, 10%) min(30px, 5%);
}
div.head div.text {
  padding: 0;
}
div.top-item {
  padding-bottom: 0;
  margin-bottom: 30px;
}
div.top-item div.text {
  padding-top: min(30px, 5%);
  padding-bottom: min(30px, 5%);
}
div.text {
  max-width: unset;
  padding-top: min(10px, 5%);
  padding-bottom: min(60px, 10%);
}

ul {
  padding-left: 25px;
}
ul.paragraphs {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.paragraphs > li {
  margin: 10px 0;
}

div.motto {
  background-image: url('../img/wyvern.png');
  background-position: top right;
  background-size: min(50vw, 380px);
  background-repeat: no-repeat;
  max-width: 1024px;
  margin: 0;
}

div#expertise {
  background-color: aliceblue;
}

div#how-it-works {
  background-color: cornsilk;
}

div#contact {
  background-color: #d0fbcd;
}
